@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 2, 6, 23;
}

body {
  background: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
}